<div class='item-contents'>
  <a class="btn btn-warning" href="">ランダム</a>
  <div class="subtitle" >
    献立リスト
  </div>
  <ul class='item-lists'>
    <% if user_signed_in? && @cookings.length != 0 %>
      <% @random.each do |cooking| %>
        <li class='list'>
          <%= link_to cooking_path(cooking.id) do %>
          <div class='item-img-content'>
            <%= image_tag cooking.image, class: 'item-img' %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= cooking.name %>
            </h3>
            <div class='item-price'>
              <span><%= cooking.category.name %></span>
            </div>
          </div>
          <div class="ingredients-dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle btn-success" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              材料リスト
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= cooking.ingredient.ingredient1 %></li>
              <li><%= cooking.ingredient.ingredient2 %></li>
              <li><%= cooking.ingredient.ingredient3 %></li>
              <li><%= cooking.ingredient.ingredient4 %></li>
              <li><%= cooking.ingredient.ingredient5 %></li>
              <li><%= cooking.ingredient.ingredient6 %></li>
              <li><%= cooking.ingredient.ingredient7 %></li>
            </ul>
          </div>          
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li class='list'>
        <%= link_to '#' do %>
          <%= image_tag("6422cf540f1af648323d959c54dffb7659cb38c3.82.2.3.2.jpg", class: "item-img") %>
          <div class='item-info'>
            <h3 class='item-name'>
              料理を登録してね！
            </h3>
          </div>
        <% end %>
      </li>
    <% end %>

   
  </ul>
</div>

