<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @cooking.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @cooking.image ,class:"item-box-img img-thumbnail" %>
    </div>
    <div class="item-price-box">
      <span class="item-postate">
        <%= @cooking.category.name %>
      </span>
    </div>
    <div class="ingredients">
      <h4>材料リスト</h4>
      <ul class="ingredients-list">
        <% unless @ingredient.ingredient1 == "" %>
          <li><%= @ingredient.ingredient1 %></li>
        <% end %>
        <% unless @ingredient.ingredient2 == "" %>
          <li><%= @ingredient.ingredient2 %></li>
        <% end %>
        <% unless @ingredient.ingredient3 == "" %>
          <li><%= @ingredient.ingredient3 %></li>
        <% end %>
        <% unless @ingredient.ingredient4 == "" %>
          <li><%= @ingredient.ingredient4 %></li>
        <% end %>
        <% unless @ingredient.ingredient5 == "" %>
          <li><%= @ingredient.ingredient5 %></li>
        <% end %>
        <% unless @ingredient.ingredient6 == "" %>
          <li><%= @ingredient.ingredient6 %></li>
        <% end %>
        <% unless @ingredient.ingredient7 == "" %>
          <li><%= @ingredient.ingredient7 %></li>
        <% end %>
      </ul>
    </div>
    <% if user_signed_in? && @cooking.user_id == current_user.id %>
      <div class="d-inline-block mt-5">
        <%= link_to "料理の編集", edit_cooking_path(@cooking.id), method: :get, class: "btn btn-secondary btn-lg" %>
        <%= link_to "削除", cooking_path(@cooking.id), method: :delete, class:"btn btn-danger btn-lg" %>
      </div>
    <% end %>
  </div>
</div>